//
// about page
// --------------------------------------------------

.about-page {
    margin-bottom: 65px;
    .page-section {
        padding-top: 6px;
    }
    h2 {
        @extend %text-center;
        @extend %heading-level-2;
        font-style: italic;
        margin-top: 35px;
    }
    p {
        margin: 29px 5px 38px;
        text-align: center;
    }
    .banner-img {
        @include size(100%, auto);
        @extend %text-center;
        @extend %banner-img;
    }
    .roman-no {
        @extend %text-center;
        @extend %pharagraph-level-1;
        margin: 35px 0 20px 0;
    }
    .writer {
        margin: 0 0 64px;
        @include clearfix;
        img {
            margin: 8px 25px 0 0px;
            @extend %pull-left;
        }
        p {
            margin: 0;
            @extend %text-left;

        }
    }
    .about_imgs_set {
        margin: 46px 0 40px;
        img {
            margin-bottom: 16px;
        }
        figcaption {
            margin-top: 13px;
            color: $Orange;
            @extend %text-center;
            @extend %heading-level-2;
            font-style: italic;
        }
    }
    .history {
        @extend %text-center;
        p {
            margin: 26px 67px 38px;
            letter-spacing: -0.6px;
        }
    }
    .orange_underline{
        border-bottom: 2px solid $Orange;
    }
}