//
// Home page details
// --------------------------------------------------
.home-detail {
    padding-top: 43px;
    @extend %banner-img;
    @media (max-width: $screen-xs-max) {
        background: none;
        padding-top: 0;
    }
    .post-detail {
        margin: 0 27px 30px;
        h2{
            font-style: italic;
            margin: 20px 0 19px;
            padding-bottom: 13px;
            @extend %text-center;
            @extend %Lobstertwo;
            @include font-shorthand(46px, 400, normal);
            @media (max-width: $screen-xs-max) {
                padding-bottom: 0;
                border-bottom: 0 none;
                margin: 20px 0 15px;
                @include font-shorthand(29px, 400, 35px);
                .mob_view {
                    display: block;
                }
            }
        }
        h3{
            font-style: italic;
            margin: 20px 0 19px;
            padding-bottom: 13px;
            @extend %text-center;
            @extend %Lobstertwo;
            @include font-shorthand(35px, 400, normal);
            @media (max-width: $screen-xs-max) {
                padding-bottom: 0;
                border-bottom: 0 none;
                margin: 20px 0 15px;
                @include font-shorthand(29px, 400, 35px);
                .mob_view {
                    display: block;
                }
            }
        }
        img {
            //@include size(100%, auto);
            max-width: 100%;
            margin-bottom: 10px;
            height: auto;
            //margin-right: 10px;
            &.alignright {
                @extend %pull-right;
            }
        }
        p {
            margin: 0 0 24px;
            @include font-shorthand(21px, 400, 37px);
        }
        @media (max-width: $screen-xs-max) {
            margin: 0 0 30px;
            text-align: center;
            img {
                float: none !important;
                margin-bottom: 4px;
            }
            p {
                margin: 0 0 8px;
                clear: both;
                @include font-shorthand(17px, 400, 31px);
                &:nth-last-of-type(1) {
                    padding-top: 13px;
                }
            }
        }

        .post-image-gallery{
            overflow: hidden;
            border-top: 1px solid $BdColor;
            padding-top: 20px;
            img{
                float: left;
                margin-bottom: 0;
            }
        }
    }
    .post-pagination {
        margin: 0 27px 7px;
        padding: 20px 0 10px;
        width: auto;
        border-bottom: 1px solid $BdColor;
        @extend %clear-both;
        a {
            text-transform: uppercase;
            color: $Gray;
            display: block;
            @include font-shorthand(17px, 400, 20px);
            @include size(100px, 40px);
            @extend %MyriadPro;
        }
        .left, .right {
            margin-top: 48px;
        }
        .right a {
            padding-right: 28px;
            @extend %text-right;
            @include bg-img(next-arrow, png, no-repeat, right, center);
        }
        .left a {
            padding-left: 28px;
            @include bg-img-only(prev-arrow, png);
        }
        .post-title {
            font-style: italic;
            margin: 0 auto 0;
            width: 70%;
            @extend %text-center;
            @extend %Lobstertwo;
            @include font-shorthand(46px, 400, 54px);
            span {
                display: block;
                @extend %text-center;
                &.post-no {
                    @include font-shorthand(33px, 400, 54px);
                }
            }
        }
        @media (max-width: $screen-xs-max) {
            margin: 0px auto 8px;
            padding: 20px 0 18px;
            a {
                letter-spacing: 0.4px;
                @include size(50px, 28px);
                font-size: 0;
            }
            .left, .right {
                margin-top: 25px;
            }
            .right a {
                padding-right: 24px;
                @include bg-img(next-arrow_s, png, no-repeat, right, center);
            }
            .left a {
                padding-left: 24px;
                @include bg-img-only(prev-arrow_s, png);
            }
            .post-title {
                @include font-shorthand(29px, 400, 35px);
                span {
                    &.post-no {
                        @include font-shorthand(24px, 400, 35px);
                    }
                }
            }
        }
    }
    .collection-post {
        margin: 30px 27px 30px;
        @media (max-width: $screen-xs-max) {
            margin: 30px 27px 10px;
        }
        .gallery-title {
            font-style: italic;
            margin: 20px 0 19px;
            border-bottom: 1px solid $BdColor;
            padding-bottom: 13px;
            @extend %text-center;
            @extend %Lobstertwo;
            @include font-shorthand(46px, 400, 63px);
            @media (max-width: $screen-xs-max) {
                padding-bottom: 0;
                border-bottom: 0 none;
                margin: 20px 0 15px;
                @include font-shorthand(29px, 400, 35px);
                .mob_view {
                    display: block;
                }
            }
        }
        article {
            &.post_thumbnail {
                margin: 0 13px 33px 0;
                padding: 0;
                width: 32%;
                padding-bottom: 12px;
                border-bottom: 1px solid $BdColor;
                a {
                    position: relative;
                    display: block;
                }
                figure {
                    img {
                        height: auto;
                        max-width: 100%;
                        width: 100%;
                        max-width: 100%;
                    }
                }
                .post-title {
                    color: $White;
                    bottom: 0;
                    font-size: 26px;
                    left: 0;
                    padding: 8px 0;
                    position: absolute;
                    width: 100%;
                    @extend %Lobster;
                    @extend %text-center;
                    @include bg-img(thumb-title-bg, png, repeat, left, top);
                }
                .collection-number {
                    color: $White;
                    position: absolute;
                    top: 12px;
                    left: 20px;
                    @include text-shadow(0 2px 2px $text-color2);
                    @extend %Lobster;
                    @include font-shorthand(21px, 700, 25px);
                }
            }
            &:nth-last-of-type(3n+1) {
                margin-right: 0;
            }
            @media (max-width: $screen-xs-max) {
                &.post_thumbnail {
                    width: auto;
                    margin: 0 52px 33px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                &:nth-child(3n+1) {
                    margin: 0 52px 33px !important;
                }
            }
        }
    }
    .desktop-collection-post {
        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }
    .mobile-collection-post {
        display: none;
        background-color: black;
        clear: both;
        @media (max-width: $screen-xs-max) {
            display: block;
            .collection-post {
                margin: 0px 0 10px;
                .owl-carousel {
                    display: block;
                    background-color: black;
                    clear: both;
                    // border:1px solid blue;
                    article {
                        @media (max-width: $screen-xs-max) {
                            &.post_thumbnail {
                                margin: 0 52px 0;
                                padding: 0;
                                border-bottom: 0 none;
                            }
                            &:nth-child(3n+1) {
                                margin: 0 52px 0 !important;
                            }
                        }
                    }
                    .owl-buttons {
                        div {
                            top: 50%;
                            display: block;
                            position: absolute;
                            text-indent: 999999px;
                            @include size(18px, 27px);
                            &.owl-next {
                                right: 10px;
                                @include bg-img-center(next_arrow, png);
                            }
                            &.owl-prev {
                                left: 10px;
                                @include bg-img-center(prev_arrow, png);
                            }
                        }
                    }
                }
            }
            /* DIRECTION CONTROLS (NEXT / PREV) */
        }
    }
}

.single-collection {
    .subscribe-form-wrapper {
        display: none;
    }
    header {
        box-shadow: 0 0 10px #cccccc;
    }
}