//
// Home page 
// --------------------------------------------------
.home {
    header, footer {
        overflow: hidden;
    }
    .owl-carousel {
        //max-width: 750px;
        //margin: 0px auto;
        .title {
            color: $White;
            background-color: $Gray;
            padding: 20px 0;
            display: block;
            font-style: italic;
            @include size(100%, auto);
            @include font-shorthand(28px, normal, 28px);
            @extend %Lobstertwo;
            @extend %text-center;
            span {
                display: block;
                font-size: 55px;
                line-height: 12px;
                margin-top: 14px;
            }
            @media (max-width: $screen-xs-max) {
                padding: 20px 30px;
                width: auto;
                min-height: 114px;
                @include font-shorthand(20px, 700, 24px);
            }
        }
        figure {
            background: url(../images/net_img.png) repeat-x left -30px;
            text-align: center;
            img {
                position: relative;
                z-index: -1;
                width: auto;
                height: 370px;
                margin: auto;
                @media (max-width: $screen-xs-max) {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .owl-buttons {
            display: none;
            @media (max-width: $screen-xs-max) {
                display: block;
                div {
                    bottom: 30%;
                    display: block;
                    position: absolute;
                    text-indent: 999999px;
                    @include size(18px, 27px);
                    &.owl-next {
                        right: 10px;
                        @include bg-img-center(next_arrow, png);
                    }
                    &.owl-prev {
                        left: 10px;
                        @include bg-img-center(prev_arrow, png);
                    }
                }
            }
        }
        .owl-pagination {
            @media (max-width: $screen-xs-max) {
                display: none;
            }
        }
        .owl-pagination {
            background: rgba(0, 0, 0, 0.8);
            position: absolute;
            bottom: -47px;
            width: 100%;
            text-align: center;
            padding: 0px 0;
            .owl-page {
                display: inline-block;
                *zoom: 1;
                *display: inline;
                span {
                    background: url(../images/pager.png) no-repeat center -50px;
                    text-indent: -9999px;
                    display: block;
                    width: 50px;
                    height: 46px;
                    margin: 0 9px;
                    outline: 0;
                    &:hover {
                        background: url(../images/pager.png) no-repeat center 0;
                    }
                }
                &.active {
                    span {
                        background: url(../images/pager.png) no-repeat center 0;
                    }
                }
            }
        }
        /* DIRECTION CONTROLS (NEXT / PREV) */
    }
    .hero-caption {
        margin-top: 40px;
        @media (min-width: $screen-sm-min) {
            margin-top: 85px;
        }

        p {
            margin: 14px 30px 0;
            @extend %text-center;
            @extend %article;
        }
    }
    .collection-post {
        margin: 0 25px;
        .heading {
            font-size: 20px;
            border-bottom: 1px solid $BdColor;
            text-transform: uppercase;
            padding-bottom: 25px;
            margin-bottom: 35px;
            color: $Gray;
            @extend %text-center;
            @extend %Raleway;
        }
        article {
            &.post_thumbnail {
                margin-bottom: 33px;
                padding: 0;
                width: 32%;
                padding-bottom: 12px;
                border-bottom: 1px solid $BdColor;
                a {
                    position: relative;
                    display: block;
                }
                figure {
                    img {
                        //border: 1px solid $BdColor2;
                        max-width: 100%;
                    }
                }
                .post-title {
                    color: $White;
                    //@include bg-img-only(close_s, png, no-repeat, 97%, center);
                    @include bg-img(thumb-title-bg, png, repeat, left, top);
                    //background: rgba(244, 120, 62, 0.5);
                    bottom: 0;
                    font-size: 26px;
                    left: 0;
                    padding: 8px 0;
                    position: absolute;
                    width: 100%;
                    @extend %Lobster;
                    @extend %text-center;
                }
                .collection-number {
                    color: $White;
                    position: absolute;
                    top: 12px;
                    left: 20px;
                    //text-shadow: 2px 2px #ff0000;
                    @include text-shadow(0 2px 2px $text-color2);
                    @extend %Lobster;
                    @include font-shorthand(21px, 700, 25px);
                }
            }
            &:nth-child(3n+1) {
                margin: 0 13px !important;
            }
            @media (max-width: $screen-xs-max) {
                &.post_thumbnail {
                    width: auto;
                    margin: 0 52px 33px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                &:nth-child(3n+1) {
                    margin: 0 52px 33px !important;
                }
            }
        }
    }
    .gallery-title-row {
        padding: 78px 0 31px;
        .gallery-title {
            position: relative;
            margin: 30px 0 0 0;
            height: 36px;
            span {
                left: -3px;
                position: absolute;
                top: -17px;
                z-index: 9;
                &:before {
                    content: "\2022";
                    font-weight: bold;
                    font-size: 41px;
                }
                &.right {
                    left: inherit;
                    right: -3px;
                }
                @media (max-width: $screen-xs-max) {
                    display: none;
                }
            }
            p {
                border-bottom: 1px solid #ccc;
                span {
                    display: block;
                    font-size: 0;
                    position: absolute;
                    top: -33px;
                    z-index: 9;
                    @include bg-img-center(craft-title, png);
                    @include size(100%, 66px);
                    &:before {
                        content: "\2022";
                        display: none;
                    }
                }
            }
        }
    }
    .wp-content-section {
        margin: 0 0 25px;
        h2 {
            padding: 45px 90px;
            @include font-shorthand(43px, normal, 52px);
            @extend %text-center;
            @extend %Lobster;
            @media (max-width: $screen-xs-max) {
                padding: 5px 40px 15px;
                @include font-shorthand(29px, 500, 35px);
            }
        }
        section {
            margin: 23px 30px;
            display: table;
        }
        @include clearfix;
        .alignleft {
            margin: 0 0 0 5px;
            @extend %pull-left;
            @media (max-width: $screen-xs-max) {
                margin: 0 0 30px 0;
                text-align: center;
                @include size(100%, auto);
            }
        }
        .wirter-nick {
            width: 555px;
            line-height: 34px;
            @extend %article;
            @extend %pull-right;
            .more {
                margin-top: 22px;
                padding: 0px 19px 0 0;
                overflow: hidden;
                text-decoration: none;
                @include clearfix;
                &:before {
                content: "+";
                color: $White;
                background-color: $Black;
                font-family: arial;
                font-size: 20px;
                font-weight: 400;
                height: auto;
                line-height: 5px;
                margin: 0px 10px 0 0;
                display: inline-block;
                padding: 16px 0;
                text-align: center;
                width: 38px;
                bottom: 1px solid red;
            }
            }
             
            @media (max-width: $screen-xs-max) {
                text-align: center;
                @include size(100%, auto);
                .more {
                    margin: 24px auto 0;
                }
            }
        }
    }
    @media (max-width: $screen-xs-max) {
        .home-page {
            .container {
                padding: 0;
                .collection-post {
                    margin: 0;
                }
            }
        }
    }
}

.dummy_class {
    // display: block !important;
    overflow: hidden;
}

#welcome-screen {
    //display: none;
}

@media (max-width: $screen-xs-max) {
    #welcome-screen {
        display: block;
    }
}

#welcome-screen {
    @include size(100%, 769px);
    @include bg-img-center(home-hero, jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
    .logo {
        @include size(262px, 277px);
        @include bg-img-center(logo_l, png);
        background-size: 100%;
        margin: 200px auto 0 auto;
        @media (max-width: $screen-xs-max) {
            @include size(162px, 177px);
            margin-top: 50px;
        }
    }
    #go_btn {
        display: block;
        @include bg-img-center(welcome_arrow, png);
        @include size(74px, 87px);
        position: absolute;
        left: 50%;
        bottom: 100px;
        margin-left: -43px;
        text-indent: -99999px;
    }
}


