//
// about page
// --------------------------------------------------

.about-page {
    margin-bottom: 65px;
    @media (max-width: $screen-xs-max) { 
        margin-bottom: 0;}
    .page-section {
        padding-top: 6px;
    }
    h2 {
        @extend %text-center;
        @extend %heading-level-2;
        font-style: italic;
        margin-top: 35px;
        @media (max-width: $screen-xs-max) { 
            margin: 15px 55px;
             @include font-shorthand(29px, normal, 35px);
        }
    }
    p {
        margin: 29px 5px 38px;
        text-align: center;
        @media (max-width: $screen-xs-max) { 
            margin: 20px 5px 25px;
                padding: 0 12px;
                text-align: center;
                @include font-shorthand(17px, normal, 31px);
            }
    }
    .banner-img {
        margin: auto;
        //@extend %width-960;
        @extend %text-center;
        @extend %banner-img;
        figure {
            @include size(auto, 205px);
            //@include bg-img-center(mob-studio-banner, jpg);
            img {
                display: none;
            }
        }
        @media (max-width: $screen-xs-max) {
            figure {
               background-position:center top;
                img {
                    display: none;
                }
                &.studio-page-banner {
                    //@include bg-img-center(mob-studio-banner, jpg);
                }
            }
        }
    }
    .roman-no {
        @extend %text-center;
        @extend %pharagraph-level-1;
        margin: 35px 0 20px 0;
        @media (max-width: $screen-xs-max) { 
            margin: 24px 0 14px;;
             
            &.desktop_view {
                display: none;
            }
            &.mob_view {
                display: block;
            }
        }
    }
    .writer {
        margin: 0 0 64px;
        @include clearfix;
        img {
            margin: 8px 25px 0 0px;
            @extend %pull-left;
        }
        p {
            margin: 0;
            @extend %text-left;
            @media (max-width: $screen-xs-max) { 
                text-align: center;
                padding: 0 15px;
                margin-bottom:0;
                @include font-shorthand(17px, normal, 31px);
            }

        }
        .mob_view {
            display: none;
        }
        @media (max-width: $screen-xs-max) { 
            margin-bottom: 0;
            .mob_view {
            display: block;
        }
        figure {
            
                @include size(178px, 192px);
                overflow: hidden;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    .about_imgs_set {
        margin: 46px 0 40px;
        img {
            margin-bottom: 16px;
        }
        figcaption {
            margin-top: 13px;
            color: $Orange;
            @extend %text-center;
            @extend %heading-level-2;
            font-style: italic;
             @media (max-width: $screen-xs-max) {  
                  margin-top: 8px;
                  padding: 0 10px;
              @include font-shorthand(23px, normal, 36px);
        }
        }
        @media (max-width: $screen-xs-max) {  
             margin: 32px 0 20px;
            figure {
                img {
                    max-width: 100%;
                    height: auto;
                    margin-bottom: 8px;
                }
            }
        }
    }
    .history {
        @extend %text-center;
        p {
            margin: 26px 67px 38px;
            letter-spacing: -0.6px;
        }
    }
    .orange_underline{
        border-bottom: 2px solid $Orange;
    }
}