//
// Components
// --------------------------------------------------

%pull-none {
    float: none;
}

%pull-left, .left {
    float: left;
}

%pull-right, .right {
    float: right;
}

%text-left {
    text-align: left;
}

%text-right {
    text-align: right;
}

%text-center {
    text-align: center;
}

%block-center {
    margin: 0px auto;
}

%clear-both {
    clear: both;
}

//------------------------
.blue-area {
    background: $Blue;
}

.strongyellow-area {
    background: $StrongYellow;
}

.yellow-area {
    background: $Yellow;
}

.offwhite-area {
    background: $OffWhite;
}

.oderate-violet-area {
    background: $ModerateViolet;
}

.green-area {
    background: $Green;
}

.orange-area {
    background: $Orange;
}

%orderlist, %un-orderlist {
    li:before {
        color: $Orange;
        padding-right: .25em;
        position: relative;
        top: .1em;
    }
}

%orderlist {
    counter-reset: item;
    li:before {
        content: counter(item) ". ";
        counter-increment: item;
    }
}

%un-orderlist {
    li:before {
        content: "\2022";
        /* /2022 is the numerical unicode for &bull; */
    }
}

a {
    text-decoration: none;
    outline: 0 none;
    &.more {
        @extend %Raleway;
        font-size: 15px;
        color: $Black;
        background-color: $Orange;
        clear: both;
        display: table;
        &:hover {
            text-decoration: none;
            color: $Black;
            @include transition(all 0.3s ease);
            @include opacity(0.9);
        }
    }
}

td {
    vertical-align: top;
    padding: 0px 20px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid $White;
}

%input-text {
    border: 1px solid $BdColor3;
    background: $BgColor2;
    @extend %text-center;
    color: $White;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/*::-webkit-input-placeholder {
   color: $text-color2;
}*/
.input-text:-webkit-.input-placeholder {
    color: $text-color2;
    font-style: italic;
    border: 1px solid red !important;
}

.input-text:-moz-placeholder {
    color: $text-color2;
    font-style: italic;
}

.input-text::-moz-placeholder {
    color: $text-color2;
    font-style: italic;
}

.input-text:-ms-input-placeholder {
    color: $text-color2;
    font-style: italic;
}

.button {
    @include border_radius(1px);
    @include transition(all 0.3s ease);
    @extend %Raleway;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid $White;
    font-size: 16px;
    padding: 7px 0;
    text-align: center;
    color: $White;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    &.arrow {
        position: relative;
        &:before {
            position: absolute;
            top: 16px;
            left: 20px;
            @extend .arrow-right;
            content: '';
        }
    }
    &.orange {
        background-color: $Orange;
        border-color: $Orange;
        color: $White;
        &:hover {
            background-color: rgba($Orange, 0.7);
        }
    }
}

.social-links {
    a {
        display: inline-block;
        text-indent: 99999px;
        margin-right: 18px;
        @include size(47px, 48px);
        &.facebook {
            @include bg-img-center(fb, png);
        }
        &.twitter {
            @include bg-img-center(twt, png);
        }
        &.pinterest {
            @include bg-img-center(pinterest, png);
        }
    }
}

p {
    @extend %pharagraph-level-1;
}

%banner-img {
    background: url(../images/net_img.png) repeat-x left top;
    figure {
        position: relative;
        z-index: -1;
        background-position: center top;
        background-repeat: no-repeat;
        img {
            //position: relative;
            //z-index: -1;
            margin: auto;
            @media (max-width: $screen-sm-min) {
                @include size(100%, auto);
            }
        }
    }
}

%width-960 {
    width: 960px;
    @media (max-width: $screen-sm-min) {
        width: 100%;
    }
}