//
// Header
// --------------------------------------------------

.site-footer {
    background-color: $BgColor;
    color: $White;
    height: 90px;
    padding: 20px;
    width: 100%;
    @extend %pharagraph-level-7;
    .copy-right {
        @extend %pull-left;
    }
    .social-links {
        @extend %pull-right;
        a {
            display: inline-block;
            text-indent: 99999px;
            margin-right: 18px;
            @include size(47px, 48px);
            &.facebook {
                @include bg-img-center(fb, png);
            }
            &.twitter {
                @include bg-img-center(twt, png);
            }
            &.pinterest {
                @include bg-img-center(pinterest, png);
            }
        }
    }
    @media (max-width: $screen-sm-min) {
        width: 100%;
        //height: 50px;
        padding: 20px;
        @include bg-img-center(footer-bg, png);
    }
}